::selection {
    background: #40E0D0;
    color: #222;
}
:root {
    --teal: #40E0D0;
}

* {
    margin: 0;
    line-height: 2rem;
    color: #222;
}

ul, li, i, b, em, strong {
    color: #fff;
}
p{
    color: white
}
h1, h2, h3, h4, h5, h6 {
    padding: 2rem 0;
    color: white
}

h2, h3, h4, h5, h6 {
    padding: 1rem 0;
    color: white
}

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12pt;
}

header {
    background: #005a5a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

header strong {
    color: #ffffff;
}

nav {
    text-align: right;
    position: sticky;
}

nav a {
    text-decoration: none;
    color: #ff00e6;
}

nav a:not(:last-of-type) {
    padding-right: 1rem;
}

nav a:hover {
    text-decoration: underline dashed #6E74E2 1px;
}

body {
    margin: 0;
}

footer {
    background: #005a5a;
    height: 6rem;
    align-content: center;
}

footer p {
    text-align: center; 
}

a {
    font-weight: 800;
}

blockquote {
    padding-left: 1rem;
    border-left: 3px solid #D9D9D9;
}

th, td {
    border: 1px solid #D9D9D9;
}

#search {
    margin: 0 auto;
    width: 100%;
}

.full__three_column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    margin: 1rem;
}

.full__three_column img {
    width: 100%;
    margin: 0 auto;
}

.full__four_column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.input__rounded {
    border: 0;
    border-radius: 8px;
    font-size: 1em;
    padding: .25rem;
    width: calc(100% - 1rem);
    text-align: center;
}

.article__border_right:not(:last-of-type) {
    border-right: 1px dashed #222;
}

.gap__3_rem {
    grid-gap: 3rem;
}

.span__2_col {
    grid-column: span 2;
}

.centered {
    text-align: center;
}

.container {
    padding: 3rem;
    align-items: center;
}

.text__column {
    grid-gap: 2rem;
}

<<<<<<< HEAD
.half__centered {
    width: 33vw;
    margin: 0 auto;
}

.half__centered img {
    position: relative;
    width: 100%;
}

.bottom__align {

}

=======
.third-centered {
    width: 50vw;
    margin: 0 auto;
}

.third-centered img {
    position: relative;
    width: 100%
}
>>>>>>> 126ea4ebdbe55dd8f1dd187520eb344a89c60838
.skill-card {
    background: #003333;
    padding: 2rem;
    border-radius: 8px;
    text-align: left;
}
  .skill-card h3 {
    padding-bottom: 1rem;
  }
.full__teal_band {
    background: #008080;
}
@media screen and (max-width: 850px) {
    
    .full__four_column {
        display: flex;
        flex: 1;
        flex-direction: column;
        row-gap: 3rem;
        column-gap: 0;
    }

}

@media screen and (max-width: 767px) {

  header {
    display: flex;
    flex-direction: column;
    flex: 3;
    height: unset;
  }

  nav {
     grid-column: span 2;
  }
  
  .full__three_column, .full__four_column {
    display: flex;
    flex: 3;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3rem;
    column-gap: 0;
  }

  .article__border_right:not(:last-of-type) {
    border-right: none;
  }

  #search {
    display: none;
  }

}