---
const pageTitle = "About";
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
	<!-- astro <slot /> -->
	<section class = "full__teal_band">
	<h2>About Me</h2>
	<section class = "container full__three_column gap__3_rem">
	<p>
		About me content
	</p>
	<img src ="/img/Bimmer.png" alt="Placeholder" />
	</section>
	<section class = "container full__three_column gap__3_rem">
	<p>
		About me continued content
	</p>
	<img src ="/img/Bimmer.png" alt="My BMW" />
	</section>
	</section>
</BaseLayout>