---
const pageTitle = "About";
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
	<!-- astro <slot /> -->
	<section class = "full__teal_band">
	<h2>About Me</h2>
	<section class = "container full__three_column gap__3_rem">
	<p>
		Hello! welcome to my about me. My name is Kaitlyn and I am an aspiring software engineer. In this photo to the right I'm the ginger on the left. The dog in the middles name is Fish and the other person is my partner. This is my little family!
	</p>
	<img src ="/img/K+D+F.png" alt="My girlfriend and I with our dog Fish!" />
	</section>
	<section class = "container full__three_column gap__3_rem">
	<p>
		Recently I had a cat enter my life, her name is Sylvie and she was initially a stray before we found her. She's pregnant and should be giving birth or have already given birth by the time that you are reading this. She's much healthier now than she was when I got her and she is living her life with lots of love and care for her and her kittens.
	</p>
	<img src ="/img/Sylvie.png" alt="My cat Sylvie!" />
	</section>
	</section>
</BaseLayout>