---
const pageTitle = "About";
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
	<!-- astro <slot /> -->
	<h2>About Me</h2>
	<p>
		About me content
	</p>
	<img src= "img/Bimmer.png" alt="Placeholder" />
	<h2>About Me Continued</h2>
	<p>
		About me continued content
	</p>
	<img src="img/Bimmer.png" alt="My BMW" />
</BaseLayout>