---
const pageTitle = "Home";
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
	<!-- astro <slot /> -->
	<section class = "full__teal_band">
	<div class = "half__centered">
	<h1 class = "centered">Introduction</h1>
	<section class = "third-centered">
		<div>
			<p>Welcome to my Portfolio! You'll find important information such as my education, skills, and career profile on this page.</p>
		</div>
		<img src ="/img/Bimmer.png" alt = "Image placeholder" />
	</section>
	<h2 class = "centered">Education</h2>
	<section class = "container full__three_column gap__3_rem">
		<img src="/img/Allegheny.png" alt ="Allegheny College" />
		<div>
			<p>Allegheny College 2024-Current</p>
			<p>Major: Software Engineering</p>
			<p>Minor: Women's gender and sexuality studies</p>
			<p>Microcredentials: Software development with python & Programming with Web technologies</p>
		</div>
	</section>
	<h2 class = "centered">Skills</h2>
	<div class = "container">
		<div class = "card__three_column">
			<div class = "skill-card">
				<h3>Languages</h3>
				<div>
					<div class = "row__skill_card">
					<svg width = "1.5rem" height = "2rem">
  						<use href = "/img/icons/python.svg" />
					</svg>
					<p>Python</p>
					<p>**</p>
					</div>
					<div class = "row__skill_card">
						<svg width = "1.5rem" height = "2rem">
  							<use href = "/img/icons/java.svg" />
						</svg>
						<p>Java</p>
						<p>*</p>
					</div>
					<div class = "row__skill_card">
						<svg width = "1.5rem" height = "2rem">
  							<use href = "/img/icons/brand-html5.svg" />
						</svg>
						<p>HTML</p>
						<p>*</p>
					</div>
					<div class = "row__skill_card">
						<svg width = "1.5rem" height = "2rem">
  							<use href = "/img/icons/brand-css3.svg" />
						</svg>
						<p>CSS</p>
						<p>*</p>
					</div>
				</div>
			</div>
			<div class = "skill-card">
				<h3>Tools</h3>
				<div class = "row__skill_card">
					<svg width = "1.5rem" height = "2rem">
  						<use href = "/img/icons/brand-vscode.svg" />
					</svg>
					<p>VS Code</p>
					<p>***</p>
				</div>
				<div class = "row__skill_card">
					<svg width = "1.5rem" height = "2rem">
  						<use href = "/img/icons/unity.svg" />
					</svg>
					<p>Unity</p>
					<p>*</p>
				</div>
				<div class = "row__skill_card">
					<svg width = "1.5rem" height = "2rem">
  						<use href = "/img/icons/python.svg" />
					</svg>
					<p>PyGame</p>
					<p>*</p>
				</div>
			</div>
			<div class = "skill-card">
				<h3>Frameworks</h3>
				<div class = "row__skill_card">
					<svg width = "1.5rem" height = "2rem">
  						<use href = "/img/icons/brand-nodejs.svg" />
					</svg>
					<p>nodejs</p>
					<p>*</p>
				</div>
			</div>
		</div>
	</div>
	<h2 class = "centered">Career</h2>
	<div class = "container">
		<div class = "card__three_column">
			<div class = "skill-card">
				<h3>Amazon</h3>
				<div class = "row__skill_card"><p>Warehouse Associate</p></div>
				<div class = "row__skill_card"><p>2024-2025</p></div>
			</div>
			<div class = "skill-card">
				<h3>McDonalds</h3>
				<div class = "row__skill_card"><p>Cook</p></div>
				<div class = "row__skill_card"><p>2024-2024</p></div>
			</div>
			<div class = "skill-card">
				<h3>Dollar General</h3>
				<div class = "row__skill_card"><p>Cashier</p></div>
				<div class = "row__skill_card"><p>2025-2025</p></div>
			</div>
		</div>
	</div>
	</section>
</BaseLayout>