---
const pageTitle = "About";
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
	<!-- astro <slot /> -->
	<section class = "full__teal_band">
	<h2>Projects</h2>
	<section class = "container full__three_column gap__3_rem">
	<p>
		This is a procedural dungeon game that I created where you play as a mage who uses magic to attack and defeat enemies that spawn in waves. I coded this game using the python language and pygame logic. Larger waves depending on the difficulty that you choose. There are powerups to help you beat the game, and the magic is actually animated. There is a fog of war so that the map is not immediately all revealed to the player and they player has to reveal the map as they play. The map is also procedurely generated everytime you start a new round.
	</p>
	<img src ="/img/Dungeon-game.png" alt="Procedural dungeon game I created" />
	</section>
	<section class = "container full__three_column gap__3_rem">
	<p>
		This is a website I built from a Website brief I made a figma design of it before I used HTML, CSS, and Javascript to construct the webpage to the standards of the design brief that was given to me.
	</p>
	<img src ="/img/Webco-website.png" alt="Webco Widget Website" />
	</section>
	</section>
</BaseLayout>