---
const pageTitle = "About";
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
	<!-- astro <slot /> -->
	<section class = "full__teal_band">
	<h2>Project</h2>
	<section class = "container full__three_column gap__3_rem">
	<p>
		Project
	</p>
	<img src ="/img/Bimmer.png" alt="Project 1" />
	</section>
	</section>
</BaseLayout>